*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body{
    background-image: url(pho66.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;

}
.wrapper{
    width:420px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255,.2);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;  
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(214, 169, 169, 0.2);
    border-radius: 20px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    color: white;

}
.input-box input::placeholder{
    color: white;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}
.remember-forgot label input{
accent-color: white;
margin-right: 3px;
}
.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper .btn {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgb(0, 0, 0,.1);
    cursor: #333;
    font-weight: 600;
    
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 20px;

}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}


