   /* ===== PRODUCT SECTION ===== */
.product-section {
    padding: 30px 15px;
    background-color: #f4f4f4;
}

/* Title */
.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #222;
}

/* Products container */
.products {
   display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* Product card */
.product-card {
 background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Image */
.product-card img {
     width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.product-card:hover img {
    transform: scale(1.05);
}

/* Name */
.product-card h3 {
    font-size: 16px;
    margin: 8px 0;
}

/* Description */
.product-card p {
    font-size: 13px;
    color: #555;
}

/* Price */
.product-card .price {
   font-size: 1.2rem;
    color: #ff6600;
    margin: 10px 0 20px;
}

/* Button */
.product-card button {
    width: 100%;
    padding: 7px;
    background: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
   background: #333;
}